; https://editorconfig.org
; 相当于这是对编辑器的设置信息
; 对常用的tab和换行的缩进信息

root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{c,h}]
indent_size = 2

[*.S]
indent_size = 8

[*.ld]
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 8
